<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>推推传播平台</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/common.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/common-reset.css">
    <script src="js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header class="header white-bg">
        <a href="#" class="header-logo mtop0">
            <img src="img/icon.png" height="50" alt="">
           <h4>推推传播平台</h4>
        </a>
        <ul class="nav pull-right top-menu">
            <li><a href="" class="logo">退出</a></li>
        </ul>
    </header>
    <div id="sidebar" class="nav-collapse" tabindex="5000" style="overflow: hidden; outline: none;">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" style="display: block;">
            <li class="">
                <a class="" href="index.html">
                    <i class="icon-dashboard"></i>
                    <span>主页</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>公众号授权</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>素材管理</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-tasks"></i>
                    <span>推广中心</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-th"></i>
                    <span>统计中心</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
    <div class="main-content" id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="panel panel-body">
                            <section class="panel">
                                <header class="panel-heading">
                                    菜单创建
                                </header>
                                <div class="panel-body">
                                    <form class="form-horizontal tasi-form" action="#">
                                        <!--color picker start-->

                                        <div class="form-group form-group-reset">
                                            <label class="control-label col-sm-4">菜单名称</label>

                                            <div class="col-sm-5">
                                                <input type="text" value="" id="menu-name" class="cp1 form-control" maxlength="8" required>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-reset">
                                            <div class="mt-content">
                                                <ul class="mt-navbar">
                                                    <li class="mt-navbar-select"><i class="icon-book"></i>图文消息</li>
                                                    <li><i class="icon-globe"></i>URL跳转</li>
                                                </ul>
                                                <div class="mt-msg">
                                                    <div class="add-imgtext add-block">
                                                        <i class="icon-plus"></i>
                                                        <h4>选择图文</h4>
                                                    </div>
                                                    <div class="col-sm-5 mtop60 add-block" style="display:none;">
                                                        <label for="">输入需要跳转的页面：</label>
                                                        <input type="text" value="" class="cp1 form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-10">
                                                <button class="btn btn-success" type="button" id="mt-submit">保存</button>
                                                <button class="btn btn-default" type="button">取消</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </section>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 menu">
                        <div class="menu-top">
                        </div>
                        <div class="menu-footer">
                            <div class="add-menubar">
                                <!-- <i class="icon-plus"></i> -->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>
<script>
    $(function () {
        var preMenu = []
        $(".mt-navbar li").click(function () {
            $(this).addClass("mt-navbar-select").siblings().removeClass("mt-navbar-select");
            n = $(this).index();
            $(".add-block").eq(n).show().siblings().hide();
        })
        $("#mt-submit").on("click", function () {
            var menu = document.getElementById("menu-name").value;
            if (menu != "" && preMenu.length < 3) {
                $(".add-menubar").append("<span class='menu-span'>" + menu + "</span>");
                preMenu.push(menu);
                console.log(preMenu.length);
                switch (preMenu.length) {
                    case 1: {
                        $(".menu-span").addClass("col-md-12");
                        break
                    }
                    case 2: {
                        $(".menu-span").removeClass("col-md-12");
                        $(".menu-span").addClass("col-md-6");
                        break
                    }
                    case 3: {
                        $(".menu-span").removeClass("col-md-6");
                        $(".menu-span").addClass("col-md-4");
                        break
                    }
                }
            }
        })
    })

</script>

</html>